<!DOCTYPE html>
{% load pybo_filter %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hello Movie</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!--AJAX-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Hello Movie</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/board">후기 게시판</a></li>
                            <li class="nav-item dropdown">
                                {% if request.session.sessionid == None %}
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">User</a>
                                {% else %}
                                <a class="nav-link dropdown-toggle" id="" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">{{request.session.sessionid}}님 반갑습니다!</a>
                                {% endif %}
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    {% if request.session.sessionid == None %}
                                    <li><a class="dropdown-item" href="/lv">LogIn</a></li>
                                    <li><a class="dropdown-item" href="/rv">Register</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item" href="/uf/{{request.session.sessionid}}">{{request.session.sessionid}}</a></li>
                                    <li><a class="dropdown-item" href="/lo">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">영화 장르</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/romance">로맨스</a></li>
                                    <li><a class="dropdown-item" href="/fantasy">판타지</a></li>
                                    <li><a class="dropdown-item" href="/thriller">스릴러</a></li>
                                    <li><a class="dropdown-item" href="/comedy">코미디</a></li>
                                    <li><a class="dropdown-item" href="/sf">SF</a></li>
                                    <li><a class="dropdown-item" href="/horror">호러</a></li>
                                    <li><a class="dropdown-item" href="/mystery">미스터리</a></li>
                                    <li><a class="dropdown-item" href="/documentary">다큐멘터리</a></li>
                                    <li><a class="dropdown-item" href="/animation">애니메이션</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <div class="container">
                <table class="table">
                    <thead class="thead-light">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if question_list %}
                    {% for question in question_list %}
                    <tr class="text-center">
                        <th scope="row">
                            <span>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</span>
                        </th>
                        <td>
                            <a href="/board/{{question.boardid}}">
                                <span>{{ question.title }}</span>
                            </a>
                        </td>
                        <td>
                            <span>{{ question.userid.userid }}</span>
                        </td>
                        <td>
                            <span>{{ question.write_date | date:"Y-m-d H:i" }}</span>
                        </td>
                        <td>
                            <span>{{ question.read_count }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">게시판이 없습니다.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>
            <!-- pagination  -->
            <div>
                <ul class="pagination justify-content-center">
                    <!-- 이전페이지 -->
                    {% if question_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in question_list.paginator.page_range %}
                        {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <!-- 다음페이지 -->
                    {% if question_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- 페이징처리 끝 -->
                <div class="col-auto mr-auto">
                    {% if request.session.sessionid == None %}

                    <div class="col-auto-board-btn">
                        <a class="btn btn-primary" href="/lv" role="button">로그인하기</a>
                    </div>
                    {% else %}
                    <div class="col-auto-board-btn">
                        <a class="btn btn-primary" href="/board/post" id="btn-insert" role="button" >글쓰기</a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
    </body>
</html>
