<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Hello Movie</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css'%}" rel="stylesheet"/>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Chart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">Hello Movie</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/board">후기 게시판</a></li>
                    <li class="nav-item dropdown">
                        {% if request.session.sessionid == None %}
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">User</a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" id="" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">{{request.session.sessionid}}님 반갑습니다!</a>
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            {% if request.session.sessionid == None %}
                            <li><a class="dropdown-item" href="/lv">LogIn</a></li>
                            <li><a class="dropdown-item" href="/rv">Register</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/lo">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">영화 장르</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li><a class="dropdown-item" href="/romance">로맨스</a></li>
                            <li><a class="dropdown-item" href="/fantasy">판타지</a></li>
                            <li><a class="dropdown-item" href="/thriller">스릴러</a></li>
                            <li><a class="dropdown-item" href="/comedy">코미디</a></li>
                            <li><a class="dropdown-item" href="/sf">SF</a></li>
                            <li><a class="dropdown-item" href="/horror">호러</a></li>
                            <li><a class="dropdown-item" href="/mystery">미스터리</a></li>
                            <li><a class="dropdown-item" href="/documentary">다큐멘터리</a></li>
                            <li><a class="dropdown-item" href="/animation">애니메이션</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6-item">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">{{movie.title}}</h1>
                        <p class="lead fw-normal text-muted mb-0">{{movie.summary}}</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-12">
                    <div class="movie-poster">
                        <img class="img-fluid-item rounded-3 mb-5" src="/static/assets/{{genre.theme}}/{{movie.poster}}"
                             alt="..."/>
                    </div>
                    <div class="movie-desc">
                        <p><strong>[개요] {{theme}} | {{movie.open_country}} | {{movie.running_time}}분 | {{movie.open_date}}
                            개봉</strong></p>
                        <p><strong>[감독] {{movie.director}}</strong></p>
                        <p><strong>[출연] {{movie.actor}}</strong></p>
                        {% if movie.grade != 0 %}
                        <p><strong>[관람 연령] {{movie.grade}}세 이용가</strong></p>
                        {% else %}
                        <p><strong>[관람 연령] 전체이용가</strong></p>
                        {% endif %}
                        <p><strong>관련 리뷰 확인하기</strong></p>
                        <div id="container"></div>
                    </div>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6-star">
                    <div class="text-center mb-5">
                        {% if rating != "" %}
                        <strong>나의 평점 {{rating}}</strong>
                        {% else %}
                        {% endif %}
                        {% if request.session.sessionid == None %}
                        {% else %}
                        <form name="myform" id="myform" method="get"
                              action="/item/{{genre.theme}}/{{movie.poster}}/star">
                            <fieldset>
                                <legend>영화 평점 주기</legend>
                                <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                                <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                                <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                                <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                                <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                            </fieldset>
                            <br><input type="submit" value="평점 부여">
                        </form>
                        {% endif %}
                        <p class="lead fw-normal text-muted" style="margin-top:20px">예고편 링크</p>
                        <a class="text-decoration-none" href="{{movie.trailer}}">
                            Let's go Trailer
                            <i class="bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Your Website 2021</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js'%}" type="text/javascript"></script>
</body>
</html>
